parameters:
  level: 8
  paths:
    - classes/
    - views/
    - index.php
    - sitemapper_view.php
  bootstrapFiles:
    - phpstan.bootstrap.php
  scanFiles:
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
