<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">classes</directory>
      <directory suffix=".php">views</directory>
      <file>admin.php</file>
      <file>index.php</file>
      <file>sitemapper_view.php</file>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="coverage">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
